<% title 'Shelter Directory' %>

<div class="row">
	<div id="sidebar" class="col-xs-3">
	  	Ola
	</div>
	<div id="content" class="col-xs-9">
	  	<% for shelter in @shelters do %>
			<h3><%=h shelter.name %></h3>
			<p><%= shelter.description %></p>
		<% end %>
	</div>
</div>
