<% title 'Under Construction' %>

<style type="text/css">
	body
	{
		background-image: url(/assets/UnderConstructionHeader.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #101010;
	}

	h1, p 
	{
        text-shadow: 2px 2px 4px #101010;
	}
</style>

<div class="cover-container">
	<div class="inner cover" style="">
		<h1 class="cover-heading" style="color: white;">Helping Paws is Under Construction</h1>
		<p class="lead" style="color: white;">Lend a helping hand to a paw in need</p>		
	</div>
</div>